<form action='burgers/delete/{{this.id}}?_method=DELETE' method='POST'>
    <button type='submit' id="Lamo"> DELETE YOURSELF SOME BURGERS! </button>
</form> --}} {{!--
<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devour}}">
        {{#if devoured}}Yum!{{else}}Let's Get Burgery!{{/if}}
    </button>
</li> --}}